 {% if settings.integration_type == 'mailchimp_list' %}
<div id="wd1_nlpopup_overlay"></div>
<div class="coupon_main"  id="wd1_nlpopup" data-expires="{{ settings.session_time }}" data-delay="1">
  <a href="#closepopup" id="wd1_nlpopup_close">x</a>

  <div class="share_content">
    <div class="coupon_head">
      <h3>
        {% if settings.message1 != blank %}
        {{ settings.message1 }}
        {% endif %}
      </h3> 
      <div class="coupon_desc">
        {% if settings.message2 != blank %}
        {{ settings.message2 }}
        {% endif %}

      </div> 
    </div>

    <div class="coupon_content">
      <div class="coupon_badge" id="coupon_code">
        <div class="coupon-contain">
          <div>
            {% form 'customer' %}
            {% if form.posted_successfully? %}
            <span class="msg_sucesss">
              {% if settings.coupon_code != blank %}
              {{ settings.coupon_code }}
              {% endif %}
            </span>
            {% else %}
            <input type="text" class="coupon-treasure" readonly="" style="display: inline-block" value="YOUR COUPON CODE">
            {% endif %}
            {% endform %}
          </div> 
        </div>
      </div>

      <div class="newletter_text">
        {% if settings.newsletter_text != blank %}
        {{ settings.newsletter_text }}
        {% endif %}          
      </div>

      <div class="newletter_form">
        <div class="news_input">
          {% include 'newsletter-form' %}
        </div>
      </div>

    </div>

  </div>
</div>
 {% endif %}

  {% if settings.integration_type == 'customer_list' %}
                            
<div id="wd1_nlpopup_overlay"></div>
<div class="coupon_main" id="wd1_nlpopup" data-expires="{{ settings.session_time }}" data-delay="1">
  <a href="#closepopup" id="wd1_nlpopup_close">x</a>

  <div class="share_content">
    <div class="coupon_head">
      <h3>
        {% if settings.message1 != blank %}
        {{ settings.message1 }}
        {% endif %}
      </h3> 
      <div class="coupon_desc">
        {% if settings.message2 != blank %}
        {{ settings.message2 }}
        {% endif %}

      </div> 
    </div>

    <div class="coupon_content">
      <div class="coupon_badge" id="coupon_code">
        <div class="coupon-contain">
          <div class="code_coupon">
            {% form 'customer' %}
            <span id="msg" style="display:block;">YOUR COUPON CODE</span>
            <span id="msg_sucesss" style="display:none;">
              {% if settings.coupon_code != blank %}
              {{ settings.coupon_code }}
            </span>
            {% else %}
            <input type="text" class="coupon-treasure" readonly="" style="display: inline-block" value="YOUR COUPON CODE">
            {% endif %}
            {% endform %}
          </div> 
        </div>
      </div>

      <div class="newletter_text">
        {% if settings.newsletter_text != blank %}
        {{ settings.newsletter_text }}
        {% endif %}          
      </div>

      <div class="newletter_form">
        <div class="news_input">
         {% include 'newsletter-form-mailchimp' %}
        </div>
      </div>

    </div>

  </div>
</div>
  {% endif %}