<div class="ffb-modal ffb-effect coupon_main" id="bounceModal">
  <a class="ffb-close ffb-close-icon"></a>
  <div class="share_content">
    <div class="coupon_head">
      <h3>
        {% if settings.message1 != blank %}
        {{ settings.message1 }}
        {% endif %}
      </h3> 
      <div class="coupon_desc">
        {% if settings.message2 != blank %}
        {{ settings.message2 }}
        {% endif %}

      </div> 
    </div>

    <div class="coupon_content">
      <div class="coupon_badge" id="coupon_code">
        <div class="coupon-contain">
          <div>
            {% form 'customer' %}
            <span id="msg" style="display:block;">YOUR COUPON CODE</span>
            <span id="msg_sucesss" style="display:none;">
              {% if settings.coupon_code != blank %}
              {{ settings.coupon_code }}
            </span>
            {% else %}
            <input type="text" class="coupon-treasure" readonly="" style="display: inline-block" value="YOUR COUPON CODE">
            {% endif %}
            {% endform %}
          </div> 
        </div>
      </div>

      <div class="newletter_text">
        {% if settings.newsletter_text != blank %}
        {{ settings.newsletter_text }}
        {% endif %}          
      </div>

      <div class="newletter_form">
        <div class="news_input">
          {% include 'newsletter-form' %}
        </div>
      </div>

    </div>

  </div>
  </div>

<div class="ffb-overlay"></div>
  <!-- the overlay element -->

    <script>
    $(function() {
      function addEvent(obj, evt, fn) {
        if (obj.addEventListener) {
          obj.addEventListener(evt, fn, false);
        } else if (obj.attachEvent) {
          obj.attachEvent("on" + evt, fn);
        }
      }

      addEvent(document, "mouseout", function(e) {
        e = e ? e : window.event;
        var from = e.relatedTarget || e.toElement;
        var visited = $.cookie("bounce_convert_cookie");
        if (visited === '1') {
          return false;
        } else if ((!from || from.nodeName == "HTML") && e.pageY < $(window).scrollTop()) {
          $("#bounceModal").addClass("ffb-show");
          //setting cookie expiry time by (s * ms)
          var date = new Date();
          //60 secounds time for cookie
          date.setTime(date.getTime() + (3600 * 1000));
          $.cookie("bounce_convert_cookie", '1', {
            expires: date
          });
        }
      });

      // Closing the Popup Box
      $(".ffb-close").click(function() {
        $("#bounceModal").removeClass("ffb-show");
      });

      // If clicked anywhere on body
      $("body").click(function() {
        $("#bounceModal").removeClass("ffb-show");
      });

      // Prevent event if clicked on #bounceModal
      $("#bounceModal").click(function(e) {
        e.stopPropagation();
      });
    });
  </script>

<style>
  /* Style for the modal and overlay*/

.container {
    background: #007e89;
    min-height: 100%;
}
.ffb-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.ffb-show {
    visibility: visible;
}
.ffb-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(51, 51, 51, 0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.ffb-show ~ .ffb-overlay {
    opacity: 1;
    visibility: visible;
}
  .ffb-modal .ffb-close-icon:hover {
    opacity: 0.5;
  }
.ffb-modal .ffb-close-icon {
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: url({{ 'cross.png' | asset_url }}) no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    
    cursor: pointer;
    border: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
/* Content styles */

.ffb-content {
    color: #fff;
    background: #007e89;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}
.ffb-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0;
}
.ffb-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
}
.ffb-content > div p {
    margin: 0;
    padding: 10px 0;
}
.ffb-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}
.ffb-content > div ul li {
    padding: 5px 0;
}
.ffb-content button {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
}


/* Blur background */
.ffb-show.ffb-effect ~ .ffb-overlay {
  background: rgba(51, 51, 51, 0.8);
}
.ffb-show.ffb-effect ~ .container {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
}

/* Effect: Fade in and scale up */
.ffb-effect .ffb-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.ffb-show.ffb-effect .ffb-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
@media screen and (max-width: 32em) {
    body {
        font-size: 75%;
    }
}
</style>